* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}
.headerhigh {
    width:60%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    vertical-align: middle;
}
.logo {
    text-align: left;
    flex-basis: 25%;
    padding-left: 1%;
}
header nav {
    flex-basis: 50%;
    text-align: center;
}
header .login {
    padding-right: 1%;
    flex-basis: 25%;
    text-align: right;
}
header .logo, header nav, header .login {
    padding: 1% 1%;
}
/* Parte inferiore header  */

.containerhead {
    width: 40%;
    height: 30vh;
    margin: 2% auto;
}
/* sezioni pagina */
.sectiont1, .sectiont2 {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.sectiont3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .container2, .greencont, .col, .colb {
    height: 80%;
}
.container {
    width: 40%;
}
.container2{
    width: 20%;
}
.greencont {
    width: 60%; 
}
/* Footer */
.foot {
    background-color: #23272a ;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.col, .colb {
    margin-top: 5px;
}
.colb {
    width: 20%;
}
.col {
    width: 10%;
}
/* Parte finale footer */
.low {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
}
.footlcont {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
button {
    padding:1%;
    margin: 1% 0;
}
/* regole debug */
.debug * {
    border: 2px dotted black;
}
.debug header {
    background-color: #add8e6;
}
.debug .logo, .debug nav, .debug .login {
    background-color: #daa520;
}
.debug .headerlow {
    background-color: #00008b;
}
.debug .containerhead, .colb{
    background-color: #ee82ee; 
}
.debug .sectiont2, .section1 {
    background-color: #d3d3d3;
    height: 40vh;
}
.debug .sectiont3 {
    height: 60vh;
}
.debug .container {
    background-color: #1e90ff;
}
.debug .container2 {
    background-color: #ffc0cb;
}
.debug .greencont {
    background-color: #228b22;
}
.debug .col{
    background-color: #20b2aa ;
}
.debug .footlcont{
    background-color: #1ec299 ;
}
.debug button {
    background-color: grey ;
}

