* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}
.headerhigh {
    width:80%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    vertical-align: middle;
}
.logo {
    text-align: left;
    flex-basis: 25%;
    padding-left: 1%;
}
header nav {
    flex-basis: 50%;
    text-align: center;
}
header .login {
    padding-right: 1%;
    flex-basis: 25%;
    text-align: right;
}
header .logo, header nav, header .login{
    padding: 1% 1%;
}
/* Parte inferiore header  */
.headerlow {
    width: 100%;
}
.containerhead{
    width: 50%;
    height: 35vh;
    margin: 2% auto;
}
/* sezioni pagina */


/* regole debug */
.debug * {
    border: 2px dotted black;
}
.debug header {
    background-color: #add8e6;
}
.debug .logo, .debug nav, .debug .login {
    background-color: #daa520;
}
.headerlow {
    background-color: #00008b;
}
.debug .containerhead {
    background-color: #ee82ee; 
}